---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Ansible Lint

on:
  push:
    paths:
      - ansible/**
      - pyproject.toml
      - .github/workflows/ansible-lint.yml
  pull_request:
  workflow_dispatch:

permissions: {}

concurrency:
  group: ansible-lint-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ansible-lint:
    name: Lint Ansible Playbooks
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      pull-requests: read
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Install uv
        uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a # v7.1.5

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version-file: ".python-version"

      - name: Install the project
        run: uv sync --extra ansible --prerelease=allow

      - name: Lint Ansible playbooks and roles
        run: |
          uv run ansible-lint maintenance.yml roles/
